{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h1 class="mt-3 mb-3">Movies</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for i in movies %}
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ i.image.url }}" class="img-fluid rounded-start" style="height: 100%" alt="{{ i.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a href="{% url 'movieapp:details' i.id %}">
                                <h5 class="card-title movie_name" title="{{ i.name }}">{{ i.name }}</h5>
                            </a>
                            <p class="card-text"><small class="text-muted">{{ i.year }}</small></p>
                            <p class="card-text">{{ i.desc }}</p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a class="btn btn-primary" href="{% url 'movieapp:edit' i.id %}" title="edit {{ i.name }}" role="button">
                                    <i class="fa-solid fa-pen-to-square"></i> Edit
                                </a>
                                <a class="btn btn-danger" href="{% url 'movieapp:delete' i.id %}" title="delete {{ i.name }}" role="button">
                                    <i class="fa-solid fa-trash-can"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}